<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
	<!-- 指定方言 -->
	<property name="hibernate.dialect">
	    org.hibernate.dialect.MySQLDialect
	</property>
    <!--数据库驱动 -->
	<property name="hibernate.connection.driver_class">
	    com.mysql.cj.jdbc.Driver
	</property>
    <!--连接数据库的url -->
	<property name="hibernate.connection.url">
	    jdbc:mysql://localhost:3306/java?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false
	</property>
	<!--数据库的用户名 -->
	<property name="hibernate.connection.username">
		root
	</property>
	<!--数据库的密码 -->
	<property name="hibernate.connection.password">
		zhao/980931
	</property>	
	
	<property name="hibernate.show_sql">true</property>
	
	<property name="format_sql">true</property> 
	<property name="hibernate.hbm2ddl.auto">update</property> 
	
	<mapping resource="cn/itcast/manytomany/Student.hbm.xml" />
	<mapping resource="cn/itcast/manytomany/Course.hbm.xml" />
	
	<mapping resource="cn/itcast/onetomany/Customer.hbm.xml" />
	<mapping resource="cn/itcast/onetomany/Order.hbm.xml" />
 </session-factory>
</hibernate-configuration>	