<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	      http://www.springframework.org/schema/beans/spring-beans.xsd
 	      http://www.springframework.org/schema/aop 
 	      http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 1 目标类 -->
	<bean id="userDao" class="cn.itcast.dao.UserDaoImpl"></bean>
	<!-- 2 切面 -->
	<bean id="myAspect" class="cn.itcast.aspectj.xml.MyAspect"></bean>
	
	<aop:config>
		<aop:aspect ref="myAspect">
			
			<aop:pointcut expression="execution(* cn.itcast.dao..*.*(..))"
				id="myPointCut" />
			<aop:before method="myBefore" pointcut-ref="myPointCut" />
			<aop:after-returning method="myAfterReturning"
				pointcut-ref="myPointCut" returning="returnVal" />
			<aop:around method="myAround" pointcut-ref="myPointCut" />
			<aop:after-throwing method="myAfterThrowing"
				pointcut-ref="myPointCut" throwing="e" />
			<aop:after method="myAfter" pointcut-ref="myPointCut" />
		</aop:aspect>
	</aop:config>
</beans>
